#grid-container {
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 750px;
  border: 1px solid black;
}

.grid-row {
  display: flex;
  flex: 1;
}

.grid-column {
  flex: 1;
}

.grid-hover {
  background-color: black;
}